*{
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: 0;
    font-family: 'Poppins';
    scroll-behavior: smooth;
    word-wrap: normal;

    
     
}
:root{
    --color2:#4fb6c7;
}

body{
    background: #f0e7e2;
}

.darkmode #ini {
    color: var(--color);

}

.darkmode .judul h3{
    color: black;
}

.darkmode .judul-project-1 h2{
    color: black;
}

/*  */

/* .darkmode .judul-card h1{
    color: white;
} */



.darkmode h1{
    color: #4fb6c7;
}

.darkmode .sertifikat-descript{
    color: #000000;
}